* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0 !important;
}

:root {
  --main-red: #fa463a;
  --main-green: #a7c72b;
  --main-orange: #fa9731;
}
